<header class="p-3 mb-3 border-bottom">

    <div class="container">
        <div class="d-flex flex-wrap ">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-3 justify-content-center md-0">
                <li class="justify-content-left">
                    <a class="navbar-brand px-2 " href="../sites/home.html" id="logo">
                        <img src="./../img/coreGear-logo.png" alt="Logo" width="48" height="48"
                            class="d-inline-block align-text-center">
                        CoreGear
                    </a>
                </li>
                <li>
                    <a href="../sites/home.html" class="nav-link px-2 link-secondary ">Overview</a>
                </li>
                <li>
                    <a href="../sites/products.html" class="nav-link px-2 link-body-emphasis">Products</a>
                </li>
                <li>
                    <a href="../sites/home.html" class="nav-link px-2 link-body-emphasis">Customers</a>
                </li>
                <li>
                    <a href="../sites/sign-in.html" class="nav-link px-2 link-body-emphasis">Sign in</a>
                </li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search" />
            </form>
            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle" />
                </a>
                <ul class="dropdown-menu text-small">

                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
            <a class="navbar-cart " href="#">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                </svg>
            </a>
        </div>
    </div>
</header>