<div id="template" class="col">
    <div class="card shadow-sm">
        <img src="/backend/product-pictures/RTX-5080-16g-vanguard-msi.png" class="p-5">
        <div class="card-body">
            <p id="product-name" class="card-text fw-bold font-monospace"></p>
            <!--<p id="product-description" class="card-text">-->
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <svg class="bi text-warning" width="14" height="14" fill="currentColor">
                        <use xlink:href="/frontend/bootstrap-icons/bootstrap-icons.svg#star-fill" />
                    </svg>
                    <svg class="bi text-warning" width="14" height="14" fill="currentColor">
                        <use xlink:href="/frontend/bootstrap-icons/bootstrap-icons.svg#star-fill" />
                    </svg>
                    <svg class="bi text-warning" width="14" height="14" fill="currentColor">
                        <use xlink:href="/frontend/bootstrap-icons/bootstrap-icons.svg#star-fill" />
                    </svg>
                    <svg class="bi text-warning" width="14" height="14" fill="currentColor">
                        <use xlink:href="/frontend/bootstrap-icons/bootstrap-icons.svg#star-half" />
                    </svg>
                    <svg class="bi text-warning" width="14" height="14" fill="currentColor">
                        <use xlink:href="/frontend/bootstrap-icons/bootstrap-icons.svg#star" />
                    </svg>
                </div>
                <small id="product-price" class="text-body-secondary font-monospace">100 €</small>
            </div>
        </div>
    </div>
</div>
